
* {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 10vh;
    width: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
}

.header h3 {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: bold;
}

.todo {
    padding: 5px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(80,70,251,1) 0%, rgba(0,255,250,1) 59%);
}

.content {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.todo-item {
    margin-left: 30px;
    width: 20%;
    background-color: #fff;
    display: inline-block;
    padding: 10px 8px;
}

.title h3 {

    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.desc {
    margin-top: 10px;
    align-items: center;
}

.desc h4 {
    font-family: sans-serif;
    font-size: 14px;
    color:  rgb(105, 105, 105);
}

.desc p {
    margin-top: 6px;
    font-family: sans-serif;
    font-size: 14px;
}

.sub-item {
    background-color: rgb(241, 237, 237);
    margin-top: 8px;
    padding: 6px 7px;
}